.timeline-container-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	gap: 10px;
}

.timeline-container-grid > * {
	max-height: 450px;
	overflow-y: auto;
}

.timeline-container-grid .minidisp-media > * {
	max-height: 200px;
}
