.avatar-xxl {
	--tblr-avatar-size: 6rem;
	--tblr-avatar-font-size: 3rem;
	--tblr-avatar-icon-size: 4rem;
}

#entity-id::before {
	content: '#';
	margin-right: .25rem;
}

#name {
	font-size: 34px;
	font-weight: 800;
}

.summary-row {
	font-size: 18px;
}