.accordion-button {
	cursor: pointer;
	--tblr-accordion-btn-padding-y: .5rem;
	--tblr-accordion-btn-padding-x: .75rem;
}

.accordion-button:hover {
	/* border-color: var(--tblr-body-color); */
	/* border-color: rgba(var(--tblr-primary-rgb), .5); */
	background-color: rgba(var(--tblr-primary-rgb), .04);
}

.field-update-pref-priority .ts-control {
	flex-wrap: nowrap;
}

.field-update-pref-priority .ts-control > input {
	margin: 0 !important;
	min-width: 0;
	width: 0;
}

td {
	word-break: break-all;
}
